[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cowfootR"]
	path = cowfootR
	url = https://github.com/juanmarcosmoreno-arch/cowfootr
